<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Test Runner</title>
</head>
<script type="text/javascript" src="../vendor/jasmine-0.10.0/lib/jasmine-0.10.0.js"></script>
<script type="text/javascript" src="../vendor/jasmine-0.10.0/lib/TrivialReporter.js"></script>
<script type="text/javascript" src="../vendor/jasmine-0.10.0/lib/consolex.js"></script>
<script type="text/javascript" src="../vendor/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="../vendor/jasmine-0.10.0/lib/jasmine.css">

<script type="text/javascript">
  jasmine.include('<%= $js_file %>', true);
</script>

<body>

<script type="text/javascript">
  var jasmineEnv = jasmine.getEnv();
  jasmineEnv.reporter = new jasmine.TrivialReporter();
  jasmineEnv.execute();
</script>

</body>
</html>